---
layout: default
---

{% for post in paginator.posts %}
    <div class="row">
        <div class="offset-by-one column ten columns">
            <h4 class="post-title"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h4>
            <p class="post-date"><em>{{ post.date | date: "%b %-d, %Y" }}</em></p>
        </div>
    </div>
{% endfor %}

{% include pagination.html %}

<!--
<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
-->
